<!DOCTYPE html>
<head>
	<title> My Hearthstone page</title>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="script.js"></script>
	<link rel = "stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel = "stylesheet" href ="main.css">
</head>

<html>
	<body ng-app = "myApp">
        <div ng-controller ="mainController">
            <div class="jumbotron">
                <div class="container">			
                    <h1>Card Look Up</h1>
                    
                    <h2>Class</h2>
                    <input type="text" ng-model="class" placeholder="Hunter, Rogue, Neutral ...">
                    <input type="search" id="search" ng-model="search" placeholder="Filter">
                    <br>
                    <button type = "button" class="btn btn-primary" ng-click ="lookup()">Search</button>  
                    
                </div>
            </div>
            
            <div class="container">
                    <div id = "singleCard" ng-if="card.collectible == true && card.cost >=0" ng-repeat="card in cards | filter:search" style = "display: inline-block">
                            <h3 id= "card">{{card.name}} </h3>
                            <img ng-src="{{card.img}}" >
                    </div>
                    
                
    <!--      <div class="container">
                <div ng-if="card.collectible == true && card.cost >=0" ng-repeat="card in cards" style = "display: inline-block">
                    <h3 id="card">{{card.name}} </h3>
                    <img ng-src="{{card.img}}" >
                </div>-->
            
            </div>        
        </div>
	</body>
</html>
