<!DOCTYPE html>
<head>
	<title> My Hearthstone page</title>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="script.js"></script>
	<link rel = "stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel = "stylesheet" href ="main.css">
</head>

<html>
	<body ng-app = "myApp">
        <div ng-controller ="mainController">
            <div class="jumbotron">
                <div class="container">			
                    <h1>Card Look Up</h1>
                    
                    <!--
                    <h2>Class</h2>
                    <input type="text" ng-model="class" placeholder="Hunter, Rogue, Neutral ...">
                    <br>
                    <button type = "button" class="btn btn-primary" ng-click ="lookup()">Search</button>
                    -->
  
                    <div class= "row">
                        <div class = "col-md-4">
                            <button type="button" class="btn btn-default" ng-click="class='Hunter'; lookup()">Hunter</button>
                        </div>
                        <div class = "col-md-4">
                            <button type="button" class="btn btn-default" ng-click="class='Rogue'; lookup()">Rogue</button>
                        </div>
                        <div class = "col-md-4">
                            <button type="button" class="btn btn-default" ng-click="class='Mage'; lookup()">Mage</button>
                        </div>
                    </div>
                    <div class= "row">
                        <div class = "col-md-4">
                            <button type="button" class="btn btn-default" ng-click="class='Paladin'; lookup()">Paladin</button>
                        </div>
                        <div class = "col-md-4">
                            <button type="button" class="btn btn-default" ng-click="class='Warlock'; lookup()">Warlock</button>
                        </div>
                        <div class = "col-md-4">
                            <button type="button" class="btn btn-default" ng-click="class='Warrior'; lookup()">Warrior</button>
                        </div>
                    </div>
                    <div class= "row">
                        <div class = "col-md-4">
                            <button type="button" class="btn btn-default" ng-click="class='Shaman'; lookup()">Shaman</button>
                        </div>
                        <div class = "col-md-4">
                            <button type="button" class="btn btn-default" ng-click="class='Priest'; lookup()">Priest</button>
                        </div>
                        <div class = "col-md-4">
                            <button type="button" class="btn btn-default" ng-click="class='Druid'; lookup()">Druid</button>
                        </div>
                    </div>
                    <input type="search" ng-if="cards!=''" id="search" ng-model="search" placeholder="Filter">
                </div>
            </div>
            


            <div class="container">
                    <div id = "singleCard" ng-if="card.collectible == true && card.cost >=0" ng-repeat="card in cards | filter:search" style = "display: inline-block">
                            <h3 id= "card">{{card.name}} </h3>
                            <img ng-src="{{card.img}}" >
                    </div>
                    
                
    <!--      <div class="container">
                <div ng-if="card.collectible == true && card.cost >=0" ng-repeat="card in cards" style = "display: inline-block">
                    <h3 id="card">{{card.name}} </h3>
                    <img ng-src="{{card.img}}" >
                </div>-->
            
            </div>        
        </div>
	</body>
</html>
