<!DOCTYPE html>
<head>
    <title> My Hearthstone page</title>
    <link rel = "stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="script.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href ="main.css">
</head>

<html>
    <body ng-app = "myApp">
        <div ng-controller ="mainController">
            <div class="jumbotron">
                <div class="container">         
                    <h2>Card Look Up</h2>
                    
                    <!--
                    <h2>Class</h2>
                    <input type="text" ng-model="class" placeholder="Hunter, Rogue, Neutral ...">
                    <br>
                    <button type = "button" class="btn btn-primary" ng-click ="lookup()">Search</button>
                    -->
  
                    <div class= "row">
                        <div class = "col-md-4 character">
                            <button type="button" class="btn btn-default" ng-click="class='Hunter'; lookup()">Hunter</button>
                        </div>
                        <div class = "col-md-4 character">
                            <button type="button" class="btn btn-default" ng-click="class='Rogue'; lookup()">Rogue</button>
                        </div>
                        <div class = "col-md-4 character">
                            <button type="button" class="btn btn-default" ng-click="class='Mage'; lookup()">Mage</button>
                        </div>
                    </div>
                    <div class= "row">
                        <div class = "col-md-4 character">
                            <button type="button" class="btn btn-default" ng-click="class='Paladin'; lookup()">Paladin</button>
                        </div>
                        <div class = "col-md-4 character">
                            <button type="button" class="btn btn-default" ng-click="class='Warlock'; lookup()">Warlock</button>
                        </div>
                        <div class = "col-md-4 character">
                            <button type="button" class="btn btn-default" ng-click="class='Warrior'; lookup()">Warrior</button>
                        </div>
                    </div>
                    <div class= "row">
                        <div class = "col-md-4 character">
                            <button type="button" class="btn btn-default" ng-click="class='Shaman'; lookup()">Shaman</button>
                        </div>
                        <div class = "col-md-4 character">
                            <button type="button" class="btn btn-default" ng-click="class='Priest'; lookup()">Priest</button>
                        </div>
                        <div class = "col-md-4 character">
                            <button type="button" class="btn btn-default" ng-click="class='Druid'; lookup()">Druid</button>
                        </div>
                    </div>



                </div>
            </div>
            


            <div class="container">
                <h2>{{class}}</h2>
                                    <input class ="filterBar form-control" type="search" id="search" ng-model="search.name" placeholder="Filter By Card Name">
                   <!-- <input class ="filterBar form-control" type="search" id="search" ng-model="search.type" placeholder="Filter By Type">-->
                                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Card Type
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <button class="btn btn-default" ng-click="search.type = 'Minion'">Minion</button>
                            <button class="btn btn-default" ng-click="search.type = 'Weapon'">Weapon</button>
                            <button class="btn btn-default" ng-click="search.type = 'spell'">Spell</button>
                            <button class="btn btn-default" ng-click="search.type = ''">All</button>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Rarity
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <button class="btn btn-default" ng-click="search.rarity = ''">All</button>
                            <button class="btn btn-default" ng-click="search.rarity = 'Common'">Common</button>
                            <button class="btn btn-default" ng-click="search.rarity = 'Rare'">Rare</button>
                            <button class="btn btn-default" ng-click="search.rarity = 'Epic'">Epic</button>
                            <button class="btn btn-default" ng-click="search.rarity = 'Legendary'">Legendary</button>
                        </ul>
                    </div>
                    <br>
                    <div id = "singleCard" ng-if="card.collectible == true && card.cost >=0" ng-repeat="card in cards | filter:search" style = "display: inline-block">
                            <!--<h3 id= "card">{{card.name}} </h3>-->
                            <img ng-src="{{card.img}}" ng-click="clickMe(card.name)">
                    </div>
                    
                
    <!--      <div class="container">
                <div ng-if="card.collectible == true && card.cost >=0" ng-repeat="card in cards" style = "display: inline-block">
                    <h3 id="card">{{card.name}} </h3>
                    <img ng-src="{{card.img}}" >
                </div>-->
            
            </div>        
        </div>
    </body>
</html>
