#card{
    color:#8e44ad;
}

#singleCard{
    margin:auto;
    width: 20%;
    border : 0px solid #8e44ad;
}

img{
	display:block;
    margin:auto;
    width:100%;
    height:100%;
}

button{
    border: 3px solid #73AD21;
	margin: auto;
    width: 60%;
    padding: 20px;
}

*{
    boder: 1px solid green;
}

.filterBar{
	margin-top: 30px;
}